<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="{{ asset('css/libs.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    {% block style %}
    {% endblock %}
    <title>{% block title %}{% endblock %} | Метраж</title>
</head>
{% block body %}
{% endblock %}
<script src="{{ asset('/js/libs.min.js') }}"></script>
<script src="{{ asset('/js/main.js') }}"></script>
<script src="{{ asset('/js/common.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_key }}&libraries=places&callback=initMap1" defer></script>
{% block script %}
{% endblock %}
</html>