{% extends '@App/main.html.twig' %}

{% block title %}{{ 'Reviews'|trans }}{% endblock %}
{% block body %}
    <body class="page-reviews">
    <div id="page-wrapper" class="page">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false})) }}
        <main class="main">
            <div class="page-content">
                <div class="s-reviews">
                    <div class="container">
                        <div class="sec-header">
                            <h1 class="sec-title">{{ 'Reviews'|trans }}</h1>
                        </div>
                    </div>
                    <div class="container">
                        <div id="reviews" class="row"></div>
                        <div class="row">
                            <div class="col-12"><ul id="page_pagination" class="pagination"></ul></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include '@App/include_html/_footer.html.twig' %}
    </div>
    {% include '@App/include_html/_m_slide_panel.html.twig' %}
    </body>
{% endblock %}