{% extends '@App/main.html.twig' %}
{% block title %}{{ 'Home'|trans }}{% endblock %}
{% block body %}
<body class="front-page">

<div id="page-wrapper" class="page">
<header>
    <div class="container">
        <div class="fp-menu-line">
            <div id="icon-menu" class="icon_menu m-slide-panel-toogle"></div>
            <a href="{{ path('static_page_owner') }}" class="fp-menu-line_owner">{{ 'Owners'|trans }}</a>
            <a href="{{ path('static_page_contacts') }}" class="fp-menu-line_contact"><i class="icon-phone"></i><span>{{ 'Contacts'|trans }}</span></a>
        </div>
    </div>
    <div class="container">
        <div class="fp-logo-line">
            <div class="fp-logo">
                <div class="fp-logo_img">
                    <img src="/img/logo_white.svg" alt="{{ 'logo'|trans }}">
                </div>
                <div class="fp-logo_text">
                    <h1 class="fp-logo_title">Метраж</h1>
                    <h3 class="fp-logo_sub-title">{{ 'Real estate agency'|trans }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="fp-search-line" class="fp-search-line">
        <div class="container">
            {{ render(controller('AppBundle:Html:renderFormFilter')) }}
        </div>
    </div>
</header>

<main class="main">
    <section class="s-homescreen">
        <div class="homescreen_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <a href="{{ path('search') }}?type=1" class="homescreen_i">
                            <img src="img/s-homescreen-residential.jpg" alt="{{ 'Residential properties'|trans }}">
                            <div class="homescreen_i_content">
                                <h2 class="homescreen_i_title">{{ 'Apartments'|trans }}</h2>
                                <h3 class="homescreen_i_count">{{ 'More than %counter% of objects'|trans({'counter': counters.residential}) }}</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6">
                        <a href="{{ path('search') }}?type=4" class="homescreen_i">
                            <img src="img/s-homescreen-commercial.jpg" alt="{{ 'Commercial real estate'|trans }}">
                            <div class="homescreen_i_content">
                                <h2 class="homescreen_i_title">{{ 'Commercial real estate'|trans }}</h2>
                                <h3 class="homescreen_i_count">{{ 'More than %counter% of objects'|trans({'counter': counters.commercial}) }}</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="s-best-offers">
        <div class="container">
            <div class="sec-header">
                <h2 class="sec-title">{{ 'Best offers'|trans }}</h2>
                <div class="sec-more">
                    <a href="{{ path('search') }}" class="sec-more_l">{{ 'All offers'|trans }}</a>
                </div>
            </div>
        </div>
        {% if premium is not empty %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="house house-front-page">
                        <a href="#" class="house_img-wrap" data-izimodal-open="#m-house-window" data-id="{{ premium.id }}">
                            <div class="house_img">
                                <img src="{{ premium.first_img }}" alt="alt">
                            </div>
                            <span class="house_ad-type">{{ premium.status }}</span>
                            <span class="house_number-photos">{{ premium.count_imgs }}</span>
                        </a>
                        <div class="house_cont">
                            <p class="house_date">{{ premium.datetime }}</p>
                            <h3 class="house_adress"><a href="#" data-izimodal-open="#m-house-window">{{ premium.street }}</a></h3>
                            <h4 class="house_region">{{ premium.district }}</h4>
                            <p class="house_price">{{ premium.price }}</p>
                            {% if premium.deal_type.id != 1 %}
                                <span class="house_sizes"><span>{{ premium.rooms }} комнатная</span> <span>({{ premium.square }} / {{ premium.square_living }} / {{ premium.square_kitchen }} м<sup><small>2</small></sup>)</span></span>
                            {% endif %}
                            <div class="house_description">
                                <p>{{ premium.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="best-slider" class="best-slider">
                {% for realty in realties %}
                <div class="best-slider_i">
                    {% include '@App/_house.html.twig' with {'realty': realty} %}
                </div><!-- best-slider_i -->
                {% endfor %}
            </div>
        </div>
        {% else %}
            <div class="best-not-found">{{ 'Best offerst not found'|trans }}</div>
        {% endif %}
    </section>

    <section class="s-news">

        <div class="container">
            <div class="sec-header">
                <h2 class="sec-title">{{ 'Newses'|trans }}</h2>
                <div class="sec-more">
                    <a href="{{ path('news') }}" class="sec-more_l">{{ 'All news'|trans }}</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="newses" class="row">
            </div>
        </div>
    </section>


    <div class="s-about-reviews">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <section class="s-about">
                        <div class="sec-header">
                            <h2 class="sec-title">{{ 'About Us'|trans }}</h2>
                            <div class="sec-more">
                                <a href="{{ path('static_page_about') }}" class="sec-more_l">{{ 'About Us'|trans }}</a>
                            </div>
                        </div>
                        <div class="s-about_text simplemde-content">
                            {{ about.description|raw|nl2br }}
                        </div>
                    </section>
                </div>
                <div class="col-12 col-lg-6">
                    <section class="s-reviews">
                        <div class="sec-header">
                            <h2 class="sec-title">{{ 'Reviews'|trans }}</h2>
                            <div class="sec-more">
                                <a href="{{ path('reviews') }}" class="sec-more_l">{{ 'All reviews'|trans }}</a>
                            </div>
                        </div>
                        <div id="reviews"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
    <textarea name="" id="simplemde-textarea" cols="0" rows="0" class="simplemde-textarea"></textarea>
    {% include '@App/include_html/_footer.html.twig' %}
    {% include '@App/include_html/_m_slide_panel.html.twig' %}
    {% include '@App/include_html/_modals.html.twig' %}
</div>
</body>
    {% block script %}
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    {% endblock %}
{% endblock %}
