{% extends '@App/main.html.twig' %}
{% block style %}
    <link href="{{ asset('/css/realty_print.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}{{ 'Print'|trans }}{% endblock %}
{% block body %}
    <div class="m-house-box m-house-window">
        <div class="m-house-wrap">

            <div class="m-house">
                <div class="m-house_slider-wrap">

                    <div id="m-house_car" class="m-house_car">
                        <div class="m-house_car_i">
                            <img src="{{ realty.images[0] }}" alt="#">
                        </div>
                    </div>
                    <span class="house_number-photos">{{ realty.count_imgs }}</span>

                </div>

                <div class="m-house_content">
                    <h3 class="m-house_region">{{ realty.district }}</h3>
                    <span class="m-house_date">{{ realty.datetime }}</span>
                    <div class="m-house_title">{{ realty.street }}</div>
                    <p class="m-house_price">{{ realty.price }}</p>
                    <div class="m-house_text">
                        <p>{{ realty.description }}</p>
                    </div>
                    <table class="m-house_tb">
                        {% if realty.number_in_database %}
                            <tr>
                                <td class="m-house_tb_tdl">№ {{ 'in db'|trans }}:</td>
                                <td class="m-house_tb_tdr">{{ realty.number_in_database }}</td>
                            </tr>
                        {% endif %}
                        {% if realty.rooms %}
                            <tr>
                                <td class="m-house_tb_tdl">{{ 'Rooms'|trans }}:</td>
                                <td class="m-house_tb_tdr">{{ realty.rooms }}</td>
                            </tr>
                        {% endif %}
                        {% if realty.floor %}
                            <tr>
                                <td class="m-house_tb_tdl">{{ 'Floor'|trans }}:</td>
                                <td class="m-house_tb_tdr">{{ realty.floor }}/{{ realty.floor_all }}</td>
                            </tr>
                        {% endif %}
                        {% if realty.square %}
                            <tr>
                                <td class="m-house_tb_tdl">{{ 'Square'|trans }}:</td>
                                <td class="m-house_tb_tdr">{{ realty.square }} / {{ realty.square_living }} / {{ realty.square_kitchen }} м<sup><small>2</small></sup></td>
                            </tr>
                        {% endif %}
                        {% if realty.layout %}
                            <tr>
                                <td class="m-house_tb_tdl">{{ 'Plane'|trans }}:</td>
                                <td class="m-house_tb_tdr">{{ realty.layout }}</td>
                            </tr>
                        {% endif %}
                        {% if realty.bathroom_type %}
                            <tr>
                                <td class="m-house_tb_tdl">{{ 'Bathroom'|trans }}:</td>
                                <td class="m-house_tb_tdr">{{ realty.bathroom_type.name }}</td>
                            </tr>
                        {% endif %}
                        {% if realty.count_balcony %}
                            <tr>
                                <td class="m-house_tb_tdl">{{ 'Balcony'|trans }}:</td>
                                <td class="m-house_tb_tdr">{{ realty.count_balcony }} ({{'glasses'|trans}} {{ realty.count_balcony_glasses }})</td>
                            </tr>
                        {% endif %}
                        {% if realty.state %}
                            <tr>
                                <td class="m-house_tb_tdl">{{ 'State'|trans }}:</td>
                                <td class="m-house_tb_tdr">{{ realty.state }}</td>
                            </tr>
                        {% endif %}
                    </table>

                </div>
            </div>
            {% for image in realty.images %}
                <img class="small-img" src="{{ image }}" alt="#" width="128px">
            {% endfor %}
        </div>
        <div class="m-rieltor-wrap">
            <div class="rieltor">
                {% for agent in agents %}
                    <div class="rieltor_text-img">
                        <div class="rieltor_img-wrap">
                            <a href="{{ path('agent_show', {id: agent.id}) }}" class="rieltor_img">
                                <img src="/{{ agent.img ?: 'img/agent.png' }}" alt="#">
                            </a>
                        </div>
                        {% set number = agent.numbers[0] %}
                        <div class="rieltor_text-wrap">
                            <h3 class="rieltor_name">{{ agent.fullname }}</h3>
                            <span class="rieltor_button rieltor_phone"><span class="rieltor_phone_mask">+{{ number|slice(0,2) }}&nbsp;({{number|slice(2,3)}})&nbsp;{{ number|slice(5,3)}} {{ number|slice(8,2)}} {{ number|slice(10,2)}} <small></small></span><noindex><a href="tel:+{{ agent.numbers[0] }}" class="rieltor_phone_number">+{{ number|slice(0,2) }}&nbsp;({{number|slice(2,3)}})&nbsp;{{ number|slice(5,3)}} {{ number|slice(8,2)}} {{ number|slice(10,2)}}</a></noindex></span>
                        </div>
                    </div>
                {% endfor %}
                <div class="rieltor_buttons">

                </div>

            </div>
        </div>
        {#<div class="m-rieltor-wrap">#}
            {#<div class="block-title">{{ 'Agent'|trans }}</div>#}
            {#<div class="rieltor">#}
                {#{% for agent in agents %}#}
                {#<div class="rieltor_text-img">#}
                    {#<div class="rieltor_img-wrap">#}
                        {#<a href="{{ path('agent_show', {id: agent.id}) }}" class="rieltor_img">#}
                            {#<img src="/{{ agent.img ?: 'img/agent.png' }}" alt="#">#}
                        {#</a>#}
                    {#</div>#}
                    {#<div class="rieltor_text-wrap">#}
                        {#<a href="{{ path('agent_show', {id: agent.id}) }}"#}
                           {#class="rieltor_link">{{ 'other adverts'|trans }}</a>#}
                        {#<h3 class="rieltor_name">{{ agent.fullname }}</h3>#}

                        {#<span class="rieltor_button rieltor_phone">+{{ agent.numbers[0] }}</span></div>                        </div>#}
            {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
    </div>
{% endblock %}