<div class="widget widget_about">
    <div class="footer_logo-wrap">
        <a href="{{ path('home') }}" class="logo">
            <div class="logo_img">
                <img src="/img/logo.svg" alt="{{ 'logo'|trans }}">
            </div>
            <div class="logo_text">
                <span class="logo_title">Метраж</span>
                <span class="logo_sub-title">{{ 'Real estate agency'|trans }}</span>
            </div>
        </a>
    </div>
    <div class="footer_social-buttons">
        {{ render(controller('AppBundle:Html:renderSocial')) }}
    </div>
    <div class="footer_creators">
        <p>АН «МЕТРАЖ» 2015-2017 (с)</p>
        <p>Разработка: <a href="http://lineup.com.ua" target="_blank"><img src="/img/linelogo_black.png"></a></p>
    </div>
</div>
