<header>
    <div class="header-menu-line">
        <div class="container">

            <nav class="menu-line">

                <div class="icon_menu m-slide-panel-toogle"></div>

                <a href="{{ path('home') }}" class="logo">
                    <div class="logo_img">
                        <img src="/img/logo.svg" alt="{{ 'logo'|trans }}">
                    </div>
                    <div class="logo_text">
                        <h2 class="logo_title">Метраж</h2>
                        <h3 class="logo_sub-title">{{ 'Real estate agency'|trans }}</h3>
                    </div>
                </a>


                <div id="icon-search" class="icon_search"></div>

                <ul id="main-menu" class="main-menu">

                    <li><a class="" href="{{ path('search') }}?deal_type=2">{{ 'Sale'|trans }}</a></li>
                    <li><a class="" href="{{ path('search') }}?deal_type=1">{{ 'Rent'|trans }}</a></li>
                    <li><a class="" href="{{ path('agents') }}">{{ 'Our realtors'|trans }}</a></li>
                    <li><a class="" href="{{ path('static_page_owner') }}">{{ 'Owners'|trans }}</a></li>
                    <li><a class="" href="{{ path('news') }}">{{ 'Newses'|trans }}</a></li>
                    <li><a class="" href="{{ path('static_page_contacts') }}">{{ 'Contacts'|trans }}</a></li>
                </ul>

            </nav>
            {% if is_showing_filters %}
            <div id="header-search-line" class="header-search-line">
                <div class="container">
                    {{ render(controller('AppBundle:Html:renderFormFilter')) }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</header>