<form action="{{ path('search') }}" id="search_form" class="search_form search_wrap" method="get" novalidate>
    <ul class="search_list">
        <li class="search_list_i search_list_i-action">
            <div class="search_field search_field-action">
                <p class="search_field_placeholder">{{ 'Action'|trans }}</p>
                <p class="search_field_text"></p>
            </div>
            <div class="search_drop search_drop-action">
                <ul>
                    {% set index = 1 %}
                    {% for deal_type in deal_types %}
                        <li>
                            <input class="search_radio-i" type="radio" id="action{{ index }}" name="deal_type" value="{{ deal_type.id }}" {{ deal_type.id|checked(get, 'deal_type', 'intval') }}>
                            <label class="search_radio-l" for="action{{ index }}">{{ deal_type.name }}</label>
                        </li>
                        {% set index = index + 1 %}
                    {% endfor %}
                </ul>
            </div>
        </li>

        <li class="search_list_i search_list_i-property">
            <div class="search_field search_field-property">
                <p class="search_field_placeholder">{{ 'Property type'|trans }}</p>
                <p class="search_field_text"></p>
            </div>
            <div class="search_drop">
                <ul>
                    {% set indexType = 1 %}
                    {% for type in types %}
                        <li>
                            <input class="search_radio-i" type="radio" id="property{{ indexType }}" name="type" value="{{ type.id }}" {{ type.id|checked(get, 'type', 'intval') }}>
                            <label class="search_radio-l" for="property{{ indexType }}">{{ type.name }}</label>
                            {% if indexType == 1 %}
                            <div class="search_sub-prop search_sub-prop-3">
                              <div class="search_sub-prop_inner search_sub-aprtmnt">
                                <div class="search_sub-chbox">
                                    <span class="search_sub-l-ms">{{ 'Number of rooms'|trans }}</span>
                                  <div class="search_list_i search_list_i-sub">
                                    <div class="search_field">
                                      <p class="search_field_text"></p>
                                    </div>
                                    <div class="search_drop">
                                        <ul>
                                            {% set index = 1 %}
                                            {% for room in rooms %}
                                                <li>
                                                    <input class="search_input-i input-rooms-apartment" type="checkbox" id="rooms-apartment{{ index }}" name="rooms_apartment[]" value="{{ room.id }}" {{ room.id|checked(get, 'rooms_apartment', '', true) }}/>
                                                    <label class="search_input-l" for="rooms-apartment{{ index }}">{{ room.id }}</label>
                                                </li>
                                                {% set index = index + 1 %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                  </div>
                                </div>
                                <div class="search_sub-single">
                                  <input class="search_input-i" type="checkbox" id="sub_type_apartment_3" name="sub_type" value="12" {{ checked_sub_type == 12 ? 'checked': ''}}  />
                                  <label class="search_input-l" for="sub_type_apartment_3">{{ 'Elite with repair'|trans }}</label>
                                </div>
                              </div>
                            </div>
                            {% endif %}
                            {% if indexType == 2 %}
                                <div class="search_sub-prop search_sub-prop-2">
                                    <div class="search_sub-pg-links">
                                        <a href="{{ path('search') }}?type=2&sub_type=11" data-sub_type="11" data-selected="false" class="search_sub-pg-link">{{ 'Building condition'|trans }}</a>
                                        <a href="{{ path('search') }}?type=2&sub_type=12" data-sub_type="12" data-selected="false" class="search_sub-pg-link">{{ 'Elite with repair'|trans }}</a>
                                        <div class="search_sub-prop_inner">
                                            <div class="search_sub-chbox">
                                                <span class="search_sub-l-ms">{{ 'Number of rooms'|trans }}</span>
                                                <div class="search_list_i search_list_i-sub">
                                                    <div class="search_field">
                                                        <p class="search_field_text"></p>
                                                    </div>
                                                    <div id="search_drop_rooms" class="search_drop">
                                                        <ul>
                                                            {% set index = 1 %}
                                                            {% for room in rooms %}
                                                            <li>
                                                                <input class="search_input-i input-rooms" type="radio" id="rooms{{ index }}" name="rooms" value="{{ room.id }}" {{ room.id|checked(get, 'rooms', 'intval') }}/>
                                                                <label class="search_input-l" for="rooms{{ index }}">{{ room.id }}</label>
                                                            </li>
                                                                {% set index = index + 1 %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="search_srch-wrap search_new-build">Новостройки
                                        <span>{{ 'Lived complex'|trans }}</span>
                                        <div class="search_sub-chbox">
                                            <div class="search_list_i search_list_i-sub search_list_i-jk">
                                                <div class="search_field">
                                                  <p class="search_field_text"></p>
                                                </div>
                                                <div class="search_drop" id="myDropdown">
                                                    <ul>
                                                        <li>
                                                            <input type="text" style="width: 100%;padding: 3px 7px;border-radius: 5px;border: 1px solid #50ADE6;box-shadow: 0 0 0 1px #50ADE6;" placeholder="" id="myInput" onkeyup="filterFunction()">
                                                        </li>
                                                        {% set index = 1 %}
                                                        {% for lived_complex in lived_complexes %}
                                                        <li>
                                                            <input class="search_input-i" type="checkbox" id="jk{{ index }}" name="lived_complex[]" value="{{ lived_complex.id }}" {{ lived_complex.id|checked(get, 'lived_complex', '', true) }} />
                                                            <label class="search_input-l" for="jk{{ index }}">{{ lived_complex.name }}</label>
                                                        </li>
                                                            {% set index = index + 1 %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                        {% set indexType = indexType + 1 %}
                    {% endfor %}
                </ul>
            </div>
        </li>

        <li class="search_list_i search_list_i-adress">
            <div class="search_field search_field-adress">
                <p class="search_field_placeholder">{{ 'District, Metro or Address'|trans }}</p>
                <p class="search_field_text"></p>
            </div>
            <div class="search_drop search_drop-adress">
                <ul class="search_list search_list-sub search_list_adress">
                    <li class="search_list_i search_list_i-sub search_list_i-district">
                        <div class="search_field search_field-district">
                            <p class="search_field_placeholder">{{ 'Without reference to the area'|trans }}</p>
                            <p class="search_field_text"></p>
                        </div>
                        <div class="search_drop">
                            <ul>
                                {% set index = 1 %}
                                {% for district in districts %}
                                    <li>
                                        <input class="search_input-i search_input-property-i district-input" type="checkbox" id="district{{ index }}" name="district[]" value="{{ district.id }}" {{ district.id|checked(get, 'district', '', true) }}/>
                                        <label class="search_input-l search_input-property-l district-label" for="district{{ index }}">{{ district.name }}</label>
                                    </li>
                                    {% set index = index + 1 %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>

                    <li class="search_list_i search_list_i-sub search_list_i-subway">
                        <div class="search_field search_field-subway">
                            <p class="search_field_placeholder">{{ 'Without reference to the metro'|trans }}</p>
                            <p class="search_field_text"></p>
                        </div>
                        <div class="search_drop">
                            <div class="search_subway-wrap">
                                <ul class="search_list-subway search_list-subway-r">
                                    {% set index = 1 %}
                                    {% for metro_red in list_metro.red %}
                                        <li>
                                            <input class="search_input-i search_input-subway-i" type="checkbox" id="subway-r-{{ index }}" name="metro[]" value="{{ metro_red.id }}"  data-district_id="{{ metro_red.district_id }}" {{ metro_red.id|checked(get, 'metro', '', true) }}/>
                                            <label class="search_input-l search_input-subway-l" for="subway-r-{{ index }}">{{ metro_red.name }}</label>
                                        </li>

                                        {% set index = index + 1 %}
                                    {% endfor %}
                                </ul>

                                <ul class="search_list-subway search_list-subway-g">
                                    {% set index = 1 %}
                                    {% for metro_green in list_metro.green %}
                                        <li>
                                            <input class="search_input-i search_input-subway-i" type="checkbox" id="subway-b-{{ index }}" name="metro[]" value="{{ metro_green.id }}" data-district_id="{{ metro_green.district_id }}" {{ metro_green.id|checked(get, 'metro', '', true) }}/>
                                            <label class="search_input-l search_input-subway-l" for="subway-b-{{ index }}">{{ metro_green.name }}</label>
                                        </li>
                                        {% set index = index + 1 %}
                                    {% endfor %}
                                </ul>

                                <ul class="search_list-subway search_list-subway-b">
                                    {% set index = 1 %}
                                    {% for metro_blue in list_metro.blue %}
                                        <li>
                                            <input class="search_input-i search_input-subway-i" type="checkbox" id="subway-g-{{ index }}" name="metro[]" value="{{ metro_blue.id }}" data-district_id="{{ metro_blue.district_id }}" {{ metro_blue.id|checked(get, 'metro', '', true) }}/>
                                            <label class="search_input-l search_input-subway-l" for="subway-g-{{ index }}">{{ metro_blue.name }}</label>
                                        </li>
                                        {% set index = index + 1 %}
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </li>

                    <li class="search_list_i search_list_i-sub search_list_i-street">
                        <div id="locationField" class="">
                            <input id="autocomplete" class="search_input-street" placeholder="{{ 'Enter the address of the house'|trans }}" type="text" name="street" value="{{ get.street|default('') }}">
                        </div>
                    </li>

                    <li class="search_list_i-button">
                        <span id="search_sub-button" class="button search_button-ok">Ok</span>
                    </li>
                </ul>
            </div>
        </li>

        <li class="search_list_i search_list_i-price">
            <div class="search_field search_field-price">
                <p class="search_field_placeholder">{{ 'Price'|trans }}</p>
                <p class="search_field_text"></p>
            </div>
            <div class="search_drop search_drop-price">
                <div class="price">
                    <div class="price_inputs">
                        {#<span class="price_inputs_i"><span class="price_inputs_i_text">{{ 'from'|trans }}</span><input id="price_from" name="price_from" value="{{ price_from_to.uah.from }}" type="number"></span><!-- Значения бегунка от. При изменении валюты эти значения устанавливаются в data-min-uah или data-min-usd -->#}
                        {#<span class="price_inputs_i"><span class="price_inputs_i_text">{{ 'to'|trans }}</span><input id="price_to" name="price_to" value="{{ price_from_to.uah.to }}" type="number"></span><!-- Значения бегунка до. При изменении валюты эти значения устанавливаются в data-max-uah data-max-usd -->#}

                        <span class="price_inputs_i"><span class="price_inputs_i_text">{{ 'from'|trans }}</span><input id="price_from" name="price_from" value="{{ get.price_from|default(0) }}" type="number"></span><!-- Значения бегунка от. При изменении валюты эти значения устанавливаются в data-min-uah или data-min-usd -->
                        <span class="price_inputs_i"><span class="price_inputs_i_text">{{ 'to'|trans }}</span><input id="price_to" name="price_to" value="{{ get.price_to|default(price_from_to.usd.to) }}" type="number"></span><!-- Значения бегунка до. При изменении валюты эти значения устанавливаются в data-max-uah data-max-usd -->
                    </div>
                    <div class="price_slider-wrap">
                        <input data-min-uah="{{ price_from_to.uah.from }}" data-max-uah="{{ price_from_to.uah.to }}" data-min-usd="{{ price_from_to.usd.from }}" data-max-usd="{{ price_from_to.usd.to }}" id="price_slider" class="price_slider" name="example_name" value="" type="text"/><!-- data значения - мин и макс для двух валют слайдера -->
                    </div>
                    <div class="price_currency">
                        <span class="price_currency-text">{{ 'Currency'|trans }}:</span>
                        <input class="currency_radio-i" type="radio" id="currency2" name="currency" value="2" {{ 2|checked(get, 'currency', 'intval') }} {{ get.currency|default('checked') }}>
                        <label class="currency_radio-l" for="currency2">USD</label>
                        <input class="currency_radio-i" type="radio" id="currency1" name="currency" value="1" {{ 1|checked(get, 'currency', 'intval') }}>
                        <label class="currency_radio-l" for="currency1">{{ 'UAH'|trans }}</label>
                    </div>
                </div>
            </div>
        </li>

        <li class="search_list_i search_list_i-extra">
            <div class="search_field search_field-extra">
                <p class="search_field_placeholder">{{ 'Additionally'|trans }}</p>
                <p class="search_field_text"></p>
            </div>
            <div class="search_drop search_drop-extra">
                <div id="extra" class="extra search_list-sub">

                    {#<div class="search_ex-wr">#}
                        {#<span class="search_extra_l search_baths_l">{{ 'Bathrooms'|trans }}</span>#}
                        {#<div class="search_list_i search_baths">#}
                            {#<div class="search_field search_field-baths">#}
                                {#<p class="search_field_text"></p>#}
                            {#</div>#}
                            {#<div class="search_drop">#}
                                {#<ul>#}
                                    {#{% set index = 1 %}#}
                                    {#{% for bathroom in bathrooms %}#}
                                        {#<li>#}
                                            {#<input class="search_input-i" type="checkbox" id="baths{{ index }}" name="bathrooms[]" value="{{ bathroom.id }}" {{ bathroom.id|checked(get, 'bathrooms', '', true) }}/>#}
                                            {#<label class="search_input-l" for="baths{{ index }}">{{ bathroom.name }}</label>#}
                                        {#</li>#}
                                        {#{% set index = index + 1 %}#}
                                    {#{% endfor %}#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                    <div class="search_ex-wr">
                        <span class="search_extra_l search_baths_l">{{ 'Bathroom type'|trans }}</span>
                        <div class="search_list_i search_baths">
                            <div class="search_field search_field-baths">
                                <p class="search_field_text"></p>
                            </div>
                            <div class="search_drop">
                                <ul>
                                    {% set index = 1 %}
                                    {% for bathroom in bathroomTypes %}
                                        <li>
                                            <input class="search_input-i" type="checkbox" id="baths{{ index }}" name="bathroom_type[]" value="{{ bathroom.id }}" {{ bathroom.id|checked(get, 'bathroom_type', '', true) }}/>
                                            <label class="search_input-l" for="baths{{ index }}">{{ bathroom.name }}</label>
                                        </li>
                                        {% set index = index + 1 %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="search_ex-wr">
                        <span class="search_extra_l search_commercial_l">{{ 'Realty type'|trans }}</span>
                        <div class="search_list_i search_commercial">
                            <div class="search_field search_field-commercial">
                                <p class="search_field_text"></p>
                            </div>
                            <div class="search_drop">
                                <ul>
                                    {% set sub_type_index = 1 %}
                                    {% for area in sub_types.area %}
                                        <li>
                                            <input class="search_input-i" type="checkbox" id="sub_type_area{{ sub_type_index }}" name="sub_type[]" value="{{ area.id }}" {{ area.id|checked(get, 'sub_type', '', true) }}/>
                                            <label class="search_input-l" for="sub_type_area{{ sub_type_index }}">{{ area.name }}</label>
                                        </li>
                                        {% set sub_type_index = sub_type_index + 1 %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="search_ex-wr">
                        <span class="search_extra_l search_commercial_l">{{ 'Realty type'|trans }}</span>
                        <div class="search_list_i search_stead">
                            <div class="search_field search_field-stead">
                                <p class="search_field_text"></p>
                            </div>
                            <div class="search_drop">
                                <ul>
                                    {% set sub_type_index = 1 %}
                                    {% for commercial in sub_types.commercial %}
                                        <li>
                                            <input class="search_input-i" type="checkbox" id="sub_type_coomerc{{ sub_type_index }}" name="sub_type[]" value="{{ commercial.id }}" {{ commercial.id|checked(get, 'sub_type', '', true) }}/>
                                            <label class="search_input-l" for="sub_type_coomerc{{ sub_type_index }}">{{ commercial.name }}</label>
                                        </li>
                                        {% set sub_type_index = sub_type_index + 1 %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="search_area">
                        <div class="search_area_wrap">
                            <span class="search_area_desc">{{ 'Square'|trans }}</span>
                            <span class="search_area_itm"><span class="search_area_text">{{ 'from'|trans }}</span><input class="search_area_i" name="square_from" value="{{ get.square_from|default(square_from_to.from) }}" type="number"></span>
                            <span class="search_area_itm"><span class="search_area_text">{{ 'to'|trans }}</span><input class="search_area_i" name="square_to" value="{{ get.square_to|default(square_from_to.to) }}" type="number"></span>
                        </div>
                    </div>

                    <div class="search_year-ex">
                        <div class="search_area_wrap">
                            <span class="search_area_desc">{{ 'Year built'|trans }}</span>
                            <span class="search_area_itm"><span class="search_area_text">{{ 'from'|trans }}</span><input class="search_area_i" name="built_year_from" value="{{ get.built_year_from|default('') }}" type="number"></span>
                            <span class="search_area_itm"><span class="search_area_text">{{ 'to'|trans }}</span><input class="search_area_i" name="built_year_to" value="{{ get.built_year_to|default(2019) }}" type="number"></span>
                        </div>
                    </div>

                    <div class="search_ex-wr search_ex-wr-days">
                        <span class="search_extra_l search_days_l">{{ 'Number of days after placement'|trans }}</span>
                        <div class="search_list_i search_days">
                            <div class="search_field search_field-days">
                                <p class="search_field_text"></p>
                            </div>
                            <div class="search_drop">
                                <ul>
                                    {% set index = 1 %}
                                    {% for day in days %}
                                        <li>
                                            <input class="search_radio-i" type="radio" id="days{{ index }}" name="days" value="{{ day.name }}" {{ day.name|checked(get, 'days', 'intval') }}>
                                            <label class="search_radio-l" for="days{{ index }}">{{ day.name }}</label>
                                        </li>
                                        {% set index = index + 1 %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="search_list_i search_words">
                        <span class="search_extra_l search_words_l">{{ 'Keywords'|trans }}</span>
                        <div class="key-words-wrap">
                            <textarea class="key-words-area" name="words" cols="30" rows="2" placeholder="">{{ get.words|default('') }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="search_list_i-button search_list_i-search">
            <button class="search_button button">{{ 'Search'|trans }}</button>
        </li>
        <li class="search_list_i-button search_list_i-reset">
            <button id="search_reset" type="reset"><img src="/img/redo-alt-solid.svg"></button>
        </li>
    </ul>
</form>
<script>
    function filterFunction(){
        var input, filter, ul, li, a, i;
        input = $("#myInput");
        filter = $(input).val().toUpperCase();
        a = $("#myDropdown").find(".search_input-l");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    };
</script>
