{% extends '@App/main.html.twig' %}
{% block title %}{{ 'Page not found'|trans }}{% endblock %}
{% block body %}
    <body class="">
    <div id="page-wrapper" class="page">
        {{ render(controller('AppBundle:Html:renderHeader', {'isShowingFilters': false})) }}
        <main class="main">
            <div class="page-content">
                    <div class="container">
                        <div class="error-code">404</div>
                        <div class="error-text">{{ 'Page not found'|trans }}</div>
                    </div>
            </div>
        </main>
        {% include '@App/include_html/_footer.html.twig' %}
        {% include '@App/include_html/_m_slide_panel.html.twig' %}
    </div>
    </body>
{% endblock %}
