<div id="modal_thanks" class="modal-form-wrap iziModal">
    <div class="m-dlg-wrap">
        <div class="m-dlg">
            <p class="m-dlg-title">{{ 'Your request has been sent'|trans }}!</p>
        </div>
    </div>
</div>

<div id="modal_callback" class="modal-form-wrap iziModal iziModalForms">
    <div class="m-dlg-wrap">
        <div class="m-dlg">
            <h3 class="m-dlg-title">{{ 'Back call'|trans }}</h3>
            <div class="form-error"></div>
            <form id="m-form-callback" action="{{ path('api_callback') }}" class="m-dlg_form" method="POST">
                <input type="text" name="subject" value="{{ 'Back call'|trans }}" hidden>
                <div class="m-dlg_itm">
                    <input class="m-dlg_i" required type="text" name="fullname" id="m-callback_name">
                    <label class="m-dlg_plhold" for="m-callback_name">{{ 'Full name'|trans }}</label>
                </div>
                <div class="m-dlg_itm">
                    <input class="m-dlg_i" required type="text" name="contacts" id="m-callback_phone" minlength="9">
                    <label class="m-dlg_plhold" for="m-callback_phone">Email/{{ 'Phone'|trans }}</label>
                </div>
                <div class="m-dlg_itm">
                    <textarea class="m-dlg_i m-dlg_i-ta" name="text" id="m-callback_question" cols="30" rows="1"></textarea>
                    <label class="m-dlg_plhold" for="m-callback_question">{{ 'Subject matter'|trans }}</label>
                </div>
                <div class="m-dlg_itm-btn">
                    <span class="m-dlg_close m-dlg_btn">{{ 'Cancel'|trans }}</span>
                    <button class="m-dlg_submit m-dlg_btn" type="submit">{{ 'Send'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal_view" class="modal-form-wrap iziModal iziModalForms">
    <div class="m-dlg-wrap">
        <div class="m-dlg">
            <h3 class="m-dlg-title">{{ 'Sign up for viewing'|trans }}</h3>
            <div class="form-error"></div>
            <form id="m-form-view" action="{{ path('api_realty_review') }}" class="m-dlg_form" method="POST">
                <input type="text" name="subject" value="{{ 'Sign up for viewing'|trans }}" hidden>
                <div class="m-dlg_itm">
                    <input class="m-dlg_i" required type="text" name="fullname" id="m-view_name">
                    <label class="m-dlg_plhold" for="m-view_name">{{ 'Your name'|trans }}</label>
                </div>
                <div class="m-dlg_itm">
                    <input class="m-dlg_i" required type="text" name="contacts" id="m-view_phone" minlength="9">
                    <label class="m-dlg_plhold" for="m-view_phone">Email/{{ 'phone'|trans }}</label>
                </div>
                <div class="m-dlg_itm">
                    <textarea class="m-dlg_i m-dlg_i-ta" name="text" id="m-view_property" cols="30" rows="1"></textarea>
                    <label class="m-dlg_plhold" for="m-view_property">{{ 'Realty'|trans }}</label>
                </div>
                <div class="m-dlg_itm-btn">
                    <span class="m-dlg_close m-dlg_btn">{{ 'Cancel'|trans }}</span>
                    <button class="m-dlg_submit m-dlg_btn" type="submit">{{ 'Send'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal_complaint" class="modal-form-wrap iziModal iziModalForms">
    <div class="m-dlg-wrap">
        <div class="m-dlg">
            <h3 class="m-dlg-title">{{ 'Complain'|trans }}</h3>

            <form id="m-form-complaint" action="{{ path('api_add_complaint_realty') }}" class="m-dlg_form" method="POST">
                <input type="text" name="subject" value="{{ 'Complain'|trans }}" hidden>
                <div class="m-dlg_itm">
                    <input class="m-dlg_i" required type="text" name="fullname" id="m-complaint_name">
                    <label class="m-dlg_plhold" for="m-complaint_name">{{ 'Your name'|trans }}</label>
                </div>
                <div class="m-dlg_itm">
                    <input class="m-dlg_i" required type="text" name="contacts" id="m-complaint_phone" minlength="9">
                    <label class="m-dlg_plhold" for="m-complaint_phone">Email/{{ 'phone'|trans }}</label>
                </div>
                <div class="m-dlg_itm">
                    <textarea class="m-dlg_i m-dlg_i-ta" name="text" id="m-complaint_complaint" cols="30" rows="1"></textarea>
                    <label class="m-dlg_plhold" for="m-complaint_complaint">{{ 'Comment'|trans }}</label>
                </div>
                <div class="m-dlg_itm-btn">
                    <span class="m-dlg_close m-dlg_btn">{{ 'Cancel'|trans }}</span>
                    <button class="m-dlg_submit m-dlg_btn" type="submit">{{ 'Send'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="run_open_modal" data-id=""></div>
<a href="#" id="izi_modal_open_trigger" data-izimodal-open="#m-house-window" data-id=""></a>
<div id="m-house-window" class="iziModal">
    <div class="m-house-window">
        <div id="m-house_close-btn" class="m-house_close-btn"> {{ 'Close'|trans }}</div>
        <div id="modal-popup" class="m-house-window_inner"></div>
    </div>
</div>
<div id="realty_popup"></div>